In [1]:
# Import the dependencies.
#se Pandas to read our CSV file and create the locations and measurements from the DataFrame
import pandas as pd
#use gmaps and the API key to create heatmaps and the locations map
import gmaps
#use the requests dependency to make a request to the Google Places JSON file
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the cities.csv file created in WeatherPy into a DF 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lagoa,PT,2021-11-28 00:58:49,39.0500,-27.9833,61.14,62,89,9.40
1,1,Tasiilaq,GL,2021-11-28 00:58:11,65.6145,-37.6368,23.31,90,100,10.71
2,2,East London,ZA,2021-11-28 00:58:50,-33.0153,27.9116,63.46,90,6,4.92
3,3,Estelle,US,2021-11-28 00:58:50,29.8458,-90.1067,53.60,63,100,3.78
4,4,North Platte,US,2021-11-28 00:58:51,41.1239,-100.7654,46.17,45,100,8.28

In [3]:
#check datatypes for each coloumn 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key - only need to do this once 
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature - gmaps does not like negative numbers as its weight 
#loop through max temp and store values greater than zero 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    #using the max() function to get the largest value between the temp and 0
    #if the value is greater than zero it will be stored, if not 0 will take its place
    temps.append(max(temp, 0))
    
#using list comprehension
#[max(temp, 0) for temp in max_temp]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#using list comprehension 
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#changing attributes 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria using the loc method and user input 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Faanui,PF,2021-11-28 00:58:53,-16.4833,-151.7500,81.37,73,17,17.85
14,14,Lakatoro,VU,2021-11-28 00:58:54,-16.0999,167.4164,84.42,68,19,4.76
15,15,Kavieng,PG,2021-11-28 00:58:55,-2.5744,150.7967,84.25,67,97,2.53
19,19,Rikitea,PF,2021-11-28 00:58:56,-23.1203,-134.9692,76.60,73,24,15.68
23,23,Mamallapuram,IN,2021-11-28 00:58:57,12.6264,80.1722,77.05,90,100,8.55
27,27,Hilo,US,2021-11-28 00:56:30,19.7297,-155.0900,75.02,79,41,3.56
28,28,Busselton,AU,2021-11-28 00:58:59,-33.6500,115.3333,79.86,43,25,4.76
29,29,Dakar,SN,2021-11-28 00:59:00,14.6937,-17.4441,78.93,83,0,13.80
36,36,Hithadhoo,MV,2021-11-28 00:59:02,-0.6000,73.0833,81.68,71,97,17.20
39,39,Kavaratti,IN,2021-11-28 00:59:03,10.5669,72.6420,82.65,73,100,11.52

In [17]:
#determine if there are any null values in the preferred_cities_df
preferred_cities_df.count()

#If you have some rows with null values, you'll need to drop them using 
##the dropna() method at the end of your filtering statement when you 
###are creating the new DataFrame

City_ID       118
City          118
Country       118
Date          118
Lat           118
Lng           118
Max Temp      118
Humidity      118
Cloudiness    118
Wind Speed    118
dtype: int64

In [18]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
10        Faanui      PF     81.37 -16.4833 -151.7500
14      Lakatoro      VU     84.42 -16.0999  167.4164
15       Kavieng      PG     84.25  -2.5744  150.7967
19       Rikitea      PF     76.60 -23.1203 -134.9692
23  Mamallapuram      IN     77.05  12.6264   80.1722
27          Hilo      US     75.02  19.7297 -155.0900
28     Busselton      AU     79.86 -33.6500  115.3333
29         Dakar      SN     78.93  14.6937  -17.4441
36     Hithadhoo      MV     81.68  -0.6000   73.0833
39     Kavaratti      IN     82.65  10.5669   72.6420

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Faanui,PF,81.37,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
14,Lakatoro,VU,84.42,-16.0999,167.4164,Lakatoro Palm Lodge
15,Kavieng,PG,84.25,-2.5744,150.7967,Nusa Island Retreat
19,Rikitea,PF,76.60,-23.1203,-134.9692,People ThankYou
23,Mamallapuram,IN,77.05,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram

In [24]:
#create info_box_template for popup on heat map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
##iterate through each "row" of the hotel_df DataFrame and then format the 
###info_box_template with the data we set to populate the from each row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

#create markers for each hotel- include info_box_content for heach marker 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))